<div id="Header">
  <span class="title">Welcome</span>
</div>

<div class="center_container">
  <p>
    You have been granted a key to access our API.<br />
    Your key is: <span class="noticeText"><%= @apikey %></span>
  </p>
  <%= link_to "Sign out", logout_path %>
</div>
